# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Superuser (used by setup.sh)
ADMIN_EMAIL=admin@portfolio.com
ADMIN_PASSWORD=Admin123!
ADMIN_FIRST_NAME=John
ADMIN_LAST_NAME=Doe
ADMIN_BIRTHDATE=1990-01-15

# Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
REDIS_URL=redis://localhost:6379/1

# Finnhub
FINNHUB_API_KEY=your-finnhub-api-key-here
