# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Superuser (used by setup.sh)
ADMIN_EMAIL=admin@portfolio.com
ADMIN_PASSWORD=Admin123!
ADMIN_FIRST_NAME=John
ADMIN_LAST_NAME=Doe
ADMIN_BIRTHDATE=1990-01-15
